{{template "partials/header" .}}

<div class="container">
  <a href="/tasks" class="m">&laquo;&nbsp;Back</a>
  <h1 class="m">Task details</h1>

  <p class="m">ID: <strong>{{.Task.ID}}</strong></p>
  <p class="m">Created at: <strong>{{.Task.CreatedAt}}</strong></p>
  <p class="m">Title: <strong>{{.Task.Title}}</strong></p>
  <p class="m">Description: <strong>{{.Task.Body}}</strong></p>

  <button type="button" id="delete" class="delete-btn m">Delete</button>
</div>

<script>
  const deleteBtn = document.getElementById("delete");

  deleteBtn.addEventListener("click", () => {
    fetch("/tasks/{{.Task.ID}}", {
      method: "DELETE",
    })
      .then((res) => {
        window.location.href = "/tasks";
      })
      .catch((err) => {
        console.log(err);
      });
  });
</script>

{{template "partials/footer" .}}
